<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color:#000055">
  <a class="px-3">
    <img src="../assets/img/favicon-32x32.png" title="Invoicing-System" class="rounded border border-white">
  </a>
  <a class="navbar-brand" href="/">USD-PLN</a>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
      </li>
      <li class="nav-item">
      </li>
    </ul>
  </div>
</nav>

<main role="main" class="container">
  <div class="jumbotron">
    <router-outlet></router-outlet>
  </div>
</main>
</body>
