@import "node_modules/bootstrap/scss/bootstrap";
tr:hover {
  background-color: #ccccdd;
}

h1 {
  color: #000055;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
